body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6'%3E%3Cpath d='M6 0l6 6H0z' fill='%23444444'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 10px);
  background-position-y: center;
  background-size: 8px 4px;
  padding-right: 25px;
}

.service-record {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.service-record legend {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.service-record label {
  color: #555;
}

.service-record input[type="text"],
.service-record input[type="date"],
.service-record input[type="number"] {
  width: calc(100% - 22px);
}

.services {
  margin-top: 10px;
}

.services fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.services label {
  display: inline-block;
  width: 30%;
  margin-right: 5%;
  vertical-align: top;
  text-align: right;
}

.services input[type="text"],
.services input[type="number"],
.services select {
  width: calc(65% - 5px);
  margin-right: 0;
}

#btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 2px;
  background-color: #1838a4;
  color: white;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#btn:hover {
  background-color: #2f2d71;
}

.add-service {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.service-fields {
  margin-top: 10px;
}

.service-fields .service {
  margin-bottom: 10px;
}

.remove-service {
  margin-top: 5px;
  cursor: pointer;
  color: #007bff;
}

#remove-service-btn {
  background-color: #f9f9f9;
  color: #341ccf;

  border: 20px;
}

#add-service-btn {
  background-color: white;
  color: black;
  border-bottom: 10px;
}

#add-btn {
  background-color: #ffffff;
  color: black;

  display: block;
  width: 100%;
  padding: 12px;
  margin: 2px;

  color: rgb(0, 0, 0);

  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}